@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

.stylization {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-45deg,#ff0088, #964396, #744585,#594b6b);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

/* after-And-Hover-Cake */



.text a {
    position: relative;
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 5em;
    text-decoration: none;
}

.text a::after {
    content: "";
    bottom: 9px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #b985b9;
    border-radius: 6px;
    transform-origin: right;
    transition:transform 1s;
    transform: scaleX(0);
}

.text a:hover {
    color: #b985b9;
    transform-origin: left;
    transition: 1s;
}
.text a:hover::after {
    color: #fff;
    transform-origin: left;
    transition:transform 1s;
    transform: scaleX(1);
}

/* keyframes-Background-Colors */

@keyframes colors {
    0%  {
        background-position: 0% 50%;
    }

    50%  {
        background-position: 50% 100%;
    }

    100%  {
        background-position: 50% 0%;
    }
}


section {
    display: inli;
    justify-content: flex-start;
    align-items: flex-start;
}
.relogio {
    column-count: 3;
    column-gap: 20px;
    display: flex;
    padding: 10px;
    background-color: rgb(144, 44, 190);
    justify-content: end;
    border-radius: 6px;
    margin-right: 40px;
}

.relogio div {
    break-inside:  avoid;
    background-color: #2c2c2c;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0 rgb(0, 0, 0.9);
}

.relogio span {
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    font-size: 1.3em;
    font-weight: 600;
}

#horas {
    padding-top: 20px;
}

#minutos {
    padding-top: 20px;
}


#segundos {
    padding-top: 20px;
}